*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #000;
    color: #fff;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav button{
    background-color: #db0001;
    color: #fff;
    border: none;
    outline: 0;
    padding: 7px 20px;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer; 
}

.language-btn{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 7px 20px;
}

.language-btn img{
    margin-left: 10px;
    width: 10px;
}

.email-setup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}